

/*
Challenge: 
Turn the elements into blocks!
*/

img {
    width: 50%;
    display: block;
    margin: auto;
    align-items: center;
    
}

input {
    width: 50%;
    display: block;
    margin: auto;
    align-items: center;
}
