.main{
    margin-top: 200px;
}

/* Challenge - part 2: 
Replace the element selectors with class selectors */
.googleimage{
    display: block;
    width: 500px;
}

.inputtxt{
    display: block;
    width: 500px;
}
